space: * -> home (1h)
space: * -> supermarket (30m)
space: * -> city (1h)
space: * -> work (1h)
space: home -> home (0s)
space: supermarket -> supermarket (0s)
space: city -> city (10m)
space: uni -> uni (0s)
space: home -> supermarket (10m)
space: supermarket -> home (10m)

brain: * -> brain_coding (30m)
brain: * -> brain_mail (5m)
brain: brain_coding -> brain_coding (5m)
brain: brain_mail -> brain_mail (0s)

slice: * -> slice_any (5m)
slice: * -> slice_private (100d)
slice: * -> slice_work (100d)
slice: slice_any -> slice_any (0s)
slice: slice_private -> slice_private (0s)
slice: slice_work -> slice_work (0s)
